@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap')

*{box-sizing: border-box;}

body {font-family: 'Roboto', sans-serif;
   
    }
* {box-sizing: border-box;
padding: 0px;
    margin: 0px;}    
    
.descuento {background-color: #1CD1B0;
    padding: 10px;
       }
header {
    position: sticky;
    z-index: 50;
    top:0px;
    background-color: #00669F;
    padding: 26px;
    text-transform: uppercase;
    }
h1 {width: 400px;
}

main {display: inline-block;
 border-radius: 50%;}

#totalcard {display: inline-block;
    height: 130px;
    width: 3000px;
    padding: 15px;
    margin:50px 15px;
    margin-bottom: 50px;
    flex-direction: row;
    justify-content: space-between;

}
.card {display: inline-block;
    height: 100px;
    width: 300px;
    position:relative;}
.corazon {position:relative;
    top: 40px;}
.batman {position:relative;
top: -60px;
left: 85px;
border-radius: 50%;
z-index: 10;}
.rectangulo {position: relative;
    top: -125px;
    right: 5px;
}
h2 {position: relative;
top: -400px;
left:100px;
}
.bruce {position:relative;
top: -350px;
text-align: justify;}
.corazon2 {position:relative;
    top: 40px;}
.quin {position:relative;
top: -60px;
left: 85px;
border-radius: 50%;
z-index: 10;}
.rectangulo {position: relative;
    top: -125px;
    right: 5px;
}
h2 {position: relative;
top: -400px;
left:100px;
}
.haly {position:relative;
top: -350px;
text-align: justify;}
footer {background-color: #00669F;
padding: 5px;}